<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZeroWebApp Test Suite">
    <test name="ZeroWebApp Test Cases">
        <classes>
            <class name="com.zerowebapp.testcases.HomePageTest"/>
            <class name="com.zerowebapp.testcases.FeedbackTest"/>
            <class name="com.zerowebapp.testcases.LoginPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->